<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
<body>

    <%- include('includes/header') %>

    <main>
        <h1>Dashboard</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, earum deleniti? Sapiente sit dolorem tenetur illum, nulla blanditiis dolores, delectus debitis laudantium et qui incidunt aspernatur ad, nemo quod natus!</p>
    </main>

    <%- include('includes/footer') %>

</body>
</html>